<section class="w3l-inner-page-breadcrumb">
  <div class="breadcrumb-bg py-5">
    <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
      <h2 class="title pt-5">Contact</h2>
      <ul class="breadcrumbs-custom-path mt-3 text-center">
        <li><a [routerLink]="['/']">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact </li>
      </ul>
    </div>
  </div>
</section>
<div class="w3l-contact-10 py-5" id="contact">
  <div class="form-41-mian py-lg-5 py-md-4 py-2">
    <div class="container">
      <div class="header-title text-center mx-auto">
        <h6 class="title-subhny mb-2">Contact</h6>
        <h3 class="title-w3l">Get in Touch with Us</h3>
        <p class="mb-5">If you have a question regarding our services, feel free
          to contact us using the form below.</p>
      </div>
      <div class="contacts-5-grid-main mt-4">
        <div class="contacts-5-grid">
          <div class="address-grid">
            <span class="pos-icon">
              <span class="fa fa-map"></span>
            </span>
            <div class="ad-right">
              <h6>Our Locations</h6>
              <p>near R2VH+52H, Jasraj Nagar, Una, Gujarat 362560, India</p>
            </div>
          </div>
          <div class="address-grid">
            <span class="pos-icon">
              <span class="fa fa-envelope">

              </span>
            </span>
            <div class="ad-right">
              <h6>Help Desk</h6>
              <a href="mailto:ceo@qodist.in" class="link1">ceo@qodist.in</a>
            </div>
          </div>
          <div class="address-grid">
            <span class="pos-icon">
              <span class="fa fa-headphones"></span>
            </span>
            <div class="ad-right">
              <h6>Give Us a Call</h6>
              <a href="tel:+919016843377" class="link1">+91 9016843377</a>
            </div>
          </div>
        </div>
        <div class="contacts-sub-5 my-5 py-sm-3">
          <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=near R2VH+52H, Jasraj Nagar, Una, Gujarat 362560&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://piratebay-proxys.com/">Piratebay</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
        </div>
        <!-- <div class="header-title text-center mx-auto">
          <h6 class="title-subhny mb-2">Support</h6>
          <h3 class="title-w3l">Let’s talk about your project</h3>
          <p class="mb-5">We have made it easy for clients to reach us and get their solutions weaved</p>
        </div> -->
        <!-- <div class="form-inner-cont">
          <form action="#" method="post" class="signin-form">
            <div class="form-grids">
              <div class="form-input" data-aos="fade-down">
                <input type="text" name="Name" placeholder="Enter your name *" required="" />
              </div>
              <div class="form-input" data-aos="fade-down">
                <input type="text" name="Subject" placeholder="Enter subject " required />
              </div>
              <div class="form-input" data-aos="fade-up">
                <input type="email" name="Email" placeholder="Enter your email *" required />
              </div>
              <div class="form-input" data-aos="fade-up">
                <input type="text" name="Phone" placeholder="Enter your Phone Number *" required />
              </div>
            </div>
            <div class="form-input">
              <textarea name="Message" placeholder="Type your query here" required=""></textarea>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-style btn-primary">Submit Now</button>
            </div>
          </form>
        </div> -->

      </div>
    </div>
  </div>
</div>
