<div class="w3l-banner-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 bannerhny-info pr-lg-5">
        <h3 class="mb-4">
          Expect Great Things from
          <span class="w3sub-color"> It Solution </span>Agency.
        </h3>
        <div class="separatorhny"></div>
        <p class="pr-lg-5 mt-md-4 mt-3">
          Qodist IT Services is a known trusted advisor with experienced team
for customer support and IT Solutions. Join forces with us for an affordable IT development backed with our advanced frameworks, processes, knowledge, and technology.
        </p>
        <a class="btn btn-style mt-sm-5 mt-4 mr-2" [routerLink]="['about-us']">
          Read More</a
        >
      </div>
      <div class="col-lg-6 bannerhny-info-img mt-lg-0 mt-5 pl-lg-5">
        <img src="assets/images/pic-1.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
<div class="w3l-content-1 py-5">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="w3l-content-inf text-center">
      <h6 class="title-subhny mb-2">About Us</h6>
      <h3 class="title-w3l mb-4">
        Grow Your Business with Our <span class="w3sub-color"> It Solution</span> Agency
      </h3>
      <p class="para-sub pr-lg-5 mt-md-4 mt-3 mx-auto">
        Are you looking for the right technology partner to help you develop your business?
 we aim to take your company to the next level by offering the best services and technology,
serving your demands in the most efficient way.
      </p>
      <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" [routerLink]="['about-us']">
        Read More</a
      >
    </div>
  </div>
</div>
<div class="w3l-content-2 py-5">
  <div class="container py-md-5 py-2">
    <div class="row align-items-center">
      <div class="col-lg-6 whybox-wrap pr-lg-5">
        <div class="title-content text-left">
          <h6 class="title-subhny">Features</h6>
          <h3 class="title-w3l mb-sm-5 mb-4 pb-2">How Our Team Can Help</h3>
        </div>
        <div class="whybox-wrap-grid mb-4">
          <div class="icon">
            <span class="fas fa-signal"></span>
          </div>
          <div class="info">
            <h4><a href="#url">It Support Service</a></h4>
            <p class="mt-3">we have the leading IT network for outsourcing services, delivering innovative, performance oriented and customer support solutions all across the industrial segments. We aim to satisfy the requirements of all our global customers at best prices available.
            </p>
          </div>
        </div>
        <div class="whybox-wrap-grid mb-4">
          <div class="icon">
            <span class="fas fa-cubes icon-red"></span>
          </div>
          <div class="info">
            <h4><a href="#url">Software Development</a></h4>
            <p class="mt-3">
              We link your target audience to your brand by bringing eye-catching designs to life. We are remarkably one of the prominent software companies recognised all around the globe. Therefore, we use top tools to design user-friendly software which will further support your business towards the automation path.
            </p>
          </div>
        </div>
        <div class="whybox-wrap-grid mb-4">
          <div class="icon">
            <span class="fas fa-users icon-yellow"></span>
          </div>
          <div class="info">
            <h4><a href="#url">Mobile Application Development</a></h4>
            <p class="mt-3">
              We are offering end-to-end Android and iOS mobile software development services. We aim to provide you with the best service, practical, versatile, and well-designed mobile apps, ensuring enhanced safety
              and smooth results.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 whybox-wrap-img mt-lg-0 mt-5 pl-lg-5">
        <div class="w3l-img-hr position-relative">
          <img src="assets/images/pic-4.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <section class="w3l-bottom-grids-6 py-5" id="services">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="title-content text-center">
      <h6 class="title-subhny text-center">Reasons Why</h6>
      <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">
        Our Valuable Reputation<br />
        Analysis
      </h3>
    </div>
    <div class="grids-area-hny text-center row mt-lg-4">
      <div class="col-lg-4 col-md-6 grids-feature">
        <div class="area-box icon">
          <span class="fas fa-laptop icon-red"></span>
          <h4><a href="#feature" class="title-head">Website Content</a></h4>
          <p>
            Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu
            leo non. Duis sed et dolor amet.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
        <div class="area-box icon">
          <span class="fas fa-rocket icon-blue"></span>
          <h4><a href="#feature" class="title-head">Visitor Tracking</a></h4>
          <p>
            Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu
            leo non. Duis sed dolor et amet.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
        <div class="area-box icon">
          <span class="fas fa-chart-pie icon-yellow"></span>
          <h4><a href="#feature" class="title-head">Result Analysis</a></h4>
          <p>
            Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu
            leo non. Duis sed dolor et amet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="w3l-content-mid py-5">
  <div class="container py-sm-4 py-2">
    <div class="row">
      <div class="col-lg-8">
        <div class="bottom-info">
          <div class="header-section">
            <h6 class="title-subhny mb-2">We’re Best In</h6>
            <h3 class="title-w3l">
              Better website means better user experience
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 align-self text-lg-right">
        <a href="#get" class="btn btn-style btn-primary mt-lg-0 mt-md-5 mt-4"
          >Find Out More
        </a>
      </div>
    </div>
  </div>
</section>
<section class="w3l-clients w3l-test pb-5" id="testimonials">
  <div class="midd-w3 py-5">
    <div class="container py-lg-5 py-md-4 pt-2 pb-lg-5">
      <div class="title-content text-center">
        <h6 class="title-subhny text-center">Happy Clients</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">
          What Our Clients Say
        </h3>
      </div>
      <div class="row mt-4 py-md-2 mb-md-4">
        <div class="col-lg-4 item">
          <div class="testimonial-content">
            <div class="testimonial">
              <blockquote>
                <i class="fas fa-quote-right"></i> Aashish Patil
              </blockquote>
              <p>
                It’s almost 2 years now I am working with Vishal and I must say he is an asset to any organisation. His, never say no attitude and his hunger to learn more, makes him a great asset. His primary skills in angular, react and typescript is exceptional. He is also a good team leader. He constantly try to upgrade himself which makes him more confident in terms of tech. He is the main developer for www.assign.work I am very happy that i got a chance to work with him.
              </p>
            </div>
            <!-- <div class="bottom-info mt-4">
              <a class="comment-img" href="#url"
                ><img
                  src="assets/images/team1.jpg"
                  class="img-responsive"
                  alt="placeholder image"
              /></a>
              <div class="people-info align-self">
                <h3>Johnson william</h3>
                <p class="identity">Example City</p>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-lg-4 item mt-lg-0 mt-5">
          <div class="testimonial-content">
            <div class="testimonial">
              <blockquote>
                <i class="fas fa-quote-right"></i> Ben Whitaker
              </blockquote>
              <p>
                Vishal has been a pleasure to work with. His attention to detail and awareness of the user experience considerations have made the projects that we're working on run smoother. We've also been impressed with his ability to understand the logic of the code both for new and existing components. Overall, Vishal is able to communicate well in a collaborative nature that has been extremely helpful.
              </p>
            </div>
            <!-- <div class="bottom-info mt-4">
              <a class="comment-img" href="#url"
                ><img
                  src="assets/images/team2.jpg"
                  class="img-responsive"
                  alt="placeholder image"
              /></a>
              <div class="people-info align-self">
                <h3>Alexander sakura</h3>
                <p class="identity">Example City</p>
              </div>
            </div> -->
          </div>
        </div>

        <div class="col-lg-4 item mt-lg-0 mt-5">
          <div class="testimonial-content">
            <div class="testimonial">
              <blockquote>
                <i class="fas fa-quote-right"></i> Pradeep Sharma
              </blockquote>
              <p>
                Vishal is a person with great skills and profound experience of modern technologies.
He is quick learner and he has great experience on Javascript and Typescript.
He thinks on the cutting edge of programming, software development.
Excellent and result driven.
Works towards maximal customer satisfaction.
He is ready to deal with difficult situations and solve the problems on time.
Through the years, we worked on few projects and I is impressed by his manner of doing a great job.
              </p>
            </div>
            <!-- <div class="bottom-info mt-4">
              <a class="comment-img" href="#url"
                ><img
                  src="assets/images/team2.jpg"
                  class="img-responsive"
                  alt="placeholder image"
              /></a>
              <div class="people-info align-self">
                <h3>Alexander sakura</h3>
                <p class="identity">Example City</p>
              </div>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
